extends layout.pug

block header
	link(rel="stylesheet", href="css/sidePanel.css")
	link(rel="stylesheet", href="css/add_user.css")
	script(src="scripts/add_admin.js")
block content
	ul#sidenav.sidenav.sidenav-fixed
		img.responsive-img(src='images/brand_logo_min.jpg', alt='Brand Logo')
		.divider
		li.hoverable
			.welcomeSection
				h5= adminName
				p= adminEmail
		.divider
		li.hoverable
			a(href='/dashboard') Dashboard
		li.hoverable
			a(href='/users') Manage students
		if superadmin
			li.selected
				a(href='/admins') Manage admins
		li.hoverable
			a(href='/keywords') Manage Keywords
		li.hoverable
			a(href='/documents') Add documents
		li.hoverable
			a(href='/change') Change password
		li.hoverable
			a(href='/logout') Logout
	#content
		nav.hide-on-large-only.white
			.nav-wrapper
				.center
					img.scale-down(src="images/brand_logo_min.jpg" style="max-height: 56px;transform: translateX(-50px);")
					ul.left
						li
							a#sidenav-trigger
								i.material-icons.black-text
		.row
			form.form.col.m6.offset-m3.s10.offset-s1.z-depth-3.align-center
				h5.center-align Add Admin Form
				.row
					.input-field.col.s10.offset-s1.m10.offset-m1
						input#email.validate(type='email' required)
						label(for='email') Email
						span.helper-text(data-error='Invalid email address')
				.row
					.input-field.col.s10.offset-s1.m10.offset-m1
						input#name.validate(type='text' required pattern="^([A-Z]|[a-z]){3,}([A-Z]|[a-z]|[\" \"])*$")
						label(for='name') Name
						span.helper-text(data-error='Invalid Name')
				.row
					.input-field.col.s10.offset-s1.m10.offset-m1
						input#password.validate(type="password" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.{8,})")
						label(for="password") Password
						span.helper-text(data-error='Must contain a Number,Uppercase and Lowercase letters')
				.row
					.col.s6.offset-s3.m4.offset-m4
						button.btn.waves-effect.z-index-2#submit-btn Add Admin