extends layout

block header
	link(rel="stylesheet", href="css/sidePanel.css")
	link(rel="stylesheet", href="css/changePassword.css")
	script(src="scripts/changePassword.js")
block content
	ul#sidenav.sidenav.sidenav-fixed
		img.responsive-img(src='images/brand_logo_min.jpg', alt='Brand Logo')
		.divider
		li.hoverable
			.welcomeSection
				h5= adminName
				p= adminEmail
		.divider
		li.hoverable
			a(href='/dashboard') Dashboard
		li.hoverable
			a(href='/users') Manage students
		if superadmin
			li.hoverable
				a(href='/admins') Manage admins
		li.hoverable
			a(href='/keywords') Manage Keywords
		li.hoverable
			a(href='/documents') Add documents
		li.selected
			a(href='/change') Change password
		li.hoverable
			a(href='/logout') Logout
	#content
		.row
			.col.s10.m8.l6.offset-s1.offset-m2.offset-l3
				form.z-depth-3.align-center
					h5.center-align Change Password Form
					.row
						.input-field.col.s10.offset-s1.m10.offset-m1
							input#oldPass.validate(type='password' val="")
							label(for='oldPass') Current Password
					.row
						.input-field.col.s10.offset-s1.m10.offset-m1
							input#newPass.validate(type='password')
							label(for='newPass') New Password					
					.row
						.col.s6.offset-s3.m4.offset-m4
								button.btn.waves-effect.z-index-2 Change Password